@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

nav {
    position: relative;
}

.advance {
    background-color: #F2F3F4;
}

ul {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 12px;
}

li {
    float: right;
}

li a {
    color: black;
    display: block;
    font-size: 13px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

.content {
    position: relative;
    text-align: center;
}

.container {
    position: relative;
}

.header1 {
    border: 0;
    color: #CB4335;
    font-size: 20px;
}

.header2 {
    font-size: 16px;
    height: 42px;
    min-width: 167px;
    width: 10%;
}

.header3 {
    color: #787878;
    font-size: 12px;
    font-weight: bold;
}

hr {
    border-top: solid #F2F3F4 1px;
}

table {
    border: none;
    width: 100%;
    text-align: left;
}

.column1 {
    font-size: 13px;
    height: 36px;
    min-width: 167px;
    width: 10%;
}

.column2 {
    min-height: 37px;
    min-width: 167px;
    width: 36%;
}

.column3 {
    color: #787878;
    font-size: 11px;
    height: 36px;
    line-height: 14px;
    padding-left: 14px;
}

.adv-form {
    border: 1px solid #D9D9D9;
    height: 25px;
    width: 99%;
}

.adv-btn {
    background-color: #4885ed;
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 7px 10px;
    position: relative;
}

.banner {
    height: 92px;
    margin-bottom: 23px;
    margin-top: 137px;
    width: 272px;
}

.banner-img {
    bottom: 22px;
    color: #4885ed;
    left: 105px;
    position: relative;
}

.bar {
    border: 1px solid #dcdcdc;
    border-radius: 30px;
    height: 44px;
    padding: 0 30px;
    width: 522px;
}

.bar:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.bar:focus-within {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline: none;
}

.button {
    background-color: #f5f5f5;
    border: none;
    border-radius: 4px;
    color: #707070;
    font-size: 14px;
    margin: 29px 4px 0 4px;
    padding: 10px 17px;
}

.button:hover {
    border: 1px solid #c8c8c8;
    color: #808080;
    padding: 9px 16px;
}

.button:focus {
    border: 1px solid #4885ed;
    padding: 9px 16px;
}
