{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create page
{% endblock %}

{% block body %}
    <h1>Create Page</h1>
    <form class="form-group col-12" action="{% url 'create' %}" method="POST">
        {% if exist %}
        <div class="alert alert-danger" role="alert">
            Entry title <strong><a class="alert-link" href="/wiki/{{ title }}">{{ title }}</a></strong> already exists.
        </div>
        {% endif %}
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3">
            <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor %}
        <div class="mb-3">
            <input class="btn btn-light" type="submit">
        </div>
    </form>

{% endblock %}